@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: font-english;
  src: url("../src/fonts/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: font-farsi;
  src: url("../src/fonts/Vazir.ttf");
}
body {
  font-family: font-english;
}

.lang-en {
  font-family: font-english;
}

.lang-fa {
  font-family: font-farsi;
}
.dir-rtl {
  direction: rtl;
}
.dir-ltr {
  direction: ltr;
}
